<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Pursuit of Happiness</title> 

    <!-- Reset CSS -->
    <link rel="stylesheet" href="../static/css/reset.css">

    <!-- Bootstrap CSS -->
    <!--maybe take this first one out-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/styles.css">

    <!-- Bootstrap CDN Versions of jQuery and Popper -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script> <!-- Dropdown Menu -->

    <!-- Specific Bootstrap Theme CSS -->
    <link rel="stylesheet" href="../static/css/bootstrap-minty.css">

    <!-- Leaflet JS & CSS -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.3/dist/leaflet.css" integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ==" crossorigin=""/>

    <script src="https://unpkg.com/leaflet@1.3.3/dist/leaflet.js"
    integrity="sha512-tAGcCfR4Sc5ZP5ZoVz0quoZDYX5aCtEm/eu1KhSLj2c9eFrylXZknQYmxUssFaVJKvvc0dJQixhGjG2yXWiV9Q=="

    crossorigin=""></script>

     <!-- Leaflet Slider CSS -->
     <!--below if necesarry-->
    <!-- <link rel="stylesheet" type="text/css" href="../static/css/leaflet-slider.css"/>-->

     <!-- Custom CSS -->
     <!-- <link rel="stylesheet" type="text/css" href="../static/css/style.css"/> -->

    <!-- d3 JS -->
    <script src="https://d3js.org/d3.v4.min.js"></script>

    <!-- Marker Cluster JS & CSS -->
    <script type="text/javascript" src="https://unpkg.com/leaflet.markercluster@1.0.3/dist/leaflet.markercluster.js"></script>
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/leaflet.markercluster@1.0.3/dist/MarkerCluster.css">
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/leaflet.markercluster@1.0.3/dist/MarkerCluster.Default.css">
    <style> img { display: block; margin-left: auto; margin-right: auto;}</style>
  </head>

  
    

  <body>
        
       <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary sticky-top" id="navbar-narrow">
            <a class="navbar-brand" href="#">
                <a href="/"><img style="padding-right: 15px" src="../static/assets/smiles.png" width="60px" height="40px"></a>

            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            
            <div class="collapse navbar-collapse"id="navbarColor01">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/method">METHOD</a>
                    </li>
          
                    <li class="nav-item">
                        <a class="nav-link" href="https://github.com/CodeNameKND14/World-Happiness" target="_blank">REPOSITORY</a>
                    </li>
                </ul>
            </div>
    </nav>



        <div class="wrapper">
                <div class="img smiles allSmiles text-right">
                    <h1 style="color: black";>LOCATING HAPPINESS</h1>
                </div>
                
                <div class="container">
            
                    <!-- Header and Intro -->
                    <div class="row" ><h1>Introduction</h1></div>
                    <div class="row"><p>“What is true happiness?” A question that has been studied for ages by philosophers such as Plato, Aristotle, 
                        and Kant, who – though may have unique ideologies regarding the topic of happiness –  all consider happiness to be the ultimate goal. We’ve all pondered and explored this question 
                        extensively in some form or another, while often failing to truly articulate the main source of the creation or ruination 
                        of our happiness. 
                        <br>
                        <br>
                        So, if there are numerous externalities that go into the evaluation of happiness and each individual’s expected utility is 
                        weighted differently based on the individual’s subjective reality, how do we accurately measure happiness? The <a href="https://worldhappiness.report/" target="_blank">United Nations World 
                        Data Forum</a> makes an attempt at answering this question by examining six measurements per country. These measurements are:
                        <ul style="list-style-type: circle; margin-left: 40px;">
                            <li style="color:rgb(10, 165, 126)">GDP per Capita</li>
                            <li style="color:rgb(10, 165, 126)"> Family</li>
                            <li style="color:rgb(10, 165, 126)"> Life Expectancy</li>
                            <li style="color:rgb(10, 165, 126)"> Freedom</li>
                            <li style="color:rgb(10, 165, 126)"> Generosity</li>
                            <li style="color:rgb(10, 165, 126)"> Trust in Government/Corruption</li>
                        </ul>
                        Based on our gathered data, we've created a dashboard that seeks to answer the question, 
                        “What variable has the largest impact on an individual’s happiness?” 
                        Below are a few interactive charts that assess three years of happiness (2015, 2016, and 2017), 
                        looking at different aspects to answer this question. 
                        <br>
                        <br>
                        The first chart is a choropleth map that visualizes a countries happiness rank based on 
                        the shade of green for the year 2017. The second is a scatter plot that illustrates the relationship 
                        between a countries happiness score by year and the six measurements used to calculate 
                        that score. The third is a bar chart that displays each countries happiness by year. 
                        The fourth and fifth are two bar charts. One is showing the average of each region’s happiness 
                        score by year and the other is showing the region's population by year. Finally, 
                        we depict the metadata used to calculate each countries happiness score for each year. 
                        </p>
                    </div>
            
                    <!-- Choropleth Map -->
                    <div class="row">
                        <div class="col-md-12"> 
                            <div id="map" style="width: 100%; height: 400px"></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div>
                                <h3 class="text-center">Countries Happiness Rank (2017)</h3>
                                <p class="text-center">Click a country on the choropleth map to see their rank.
                                </p>
                            </div>
                        </div>
                    </div> 
    
                </div> 
            </div> <!-- Container End -->
        </div> <!-- Wrapper End -->

        <div class="wrapper">
                <div class="row"><img class="cover" src="../static/assets/happiness.jpg" width="100%" height="400px"></div>
        </div> <!-- Wrapper End -->


    <div class="wrapper" style="margin-top: 0.5em;">
            <div class="container">
                <!-- Scatter & Line Plots -->
                <div class="row"></div>
                <div class="row">
                    <div class="col-lg-2 col-md-12" style="padding: 2rem; background-color: #ffffff96">
                        <div>
                            <h5>Happiness Score vs. Six Variables</h5>
                            <hr>
                            <p>See the general strength of the relationships by year between the happiness score and the six observed variables. 
                                 </p>
                            <hr>
                            <h5 class= ><strong>Select Year </strong></h5>
                            
                            <button type="button" class="btn btn-info ">
                                <div class="btn-group" role="group">
                                    <select class= "btn-info" id="selDataSetScatter" onchange="scatterChanged(this.value)"></select>
                                </div>
                            </button>
                            <p>Filter by clicking on the variable.</p>
                        </div>
                    </div>
                    
                    <div class="col-lg-10 col-md-10"> 
                        <div id="scatterHappiness" style="width: 100%px; height: 550px"></div>
                    </div>
                    <p>
                        The scatterplot illustrates that all the variables have a seemingly positive linear correlation.
                        However, gdp, family, and life expectancy have the largest impact on how happy an individual feels
                        throughout the three years.
                    </p>
                  
                </div> 
            </div> <!-- Container End -->

            <div class="wrapper">
                <div class="img smiles fruitSmiles text-right">

            </div>
                <!--<div class="row img"><img class="cover" src="../static/assets/happiness.jpg" width="100%" height="400px"></div>-->
            </div> <!-- Wrapper End -->
            <div class="container">
                <div class="row">
                    <div class="col-lg-10 col-md-12"> 
                            <div id="happinessBarYear" style="width: 1000px; height: 520px"></div>
                    </div>
                    <div class="col-lg-2 col-md-12" style="padding: 2rem; background-color: #ffffff96">
                        <h5> Happiness Score by Country</h5>
                        <p style="color: rgb(133, 138, 136)">See how happiness score compares by country for the years ranging from 2015-2017.</p>
                        <hr class="my-4">
                        <h5 style=>Select Year:</h5>
                        <button type="button" class="btn btn-info">
                            <div class="btn-group" role="group">
                                <select class= "btn-info" id="selDataset" onchange="optionChanged(this.value)"></select>
                            </div>    
                        </button>
                    </div>
                    
                </div> 
                 
        </div> <!-- Container End -->


        <!--BAR REGION-->
        <div class="wrapper" style="margin-top: 0.5em;">
            <div class="container">
                <!-- Scatter & Line Plots -->
                <div class="row"></div>
                
                <div class="col-lg-12 col-md-12" style="padding: 2rem; background-color: #ffffff96">
                        <h5> AVG Happiness Score vs. Region</h5>
                        <p>Below, see how relative population size of an overall region compares to the average happiness score in each region for the years ranging from 2015-2017.</p>
                        <hr class="my-4">
                        <h5>Select Year:</h5>
                        <button type="button" class="btn btn-info">
                            <div class="btn-group" role="group">
                                <select class = "btn-info" id="selDataSetRegion" onchange="regionChanged(this.value)"></select>
                            </div>
                        </button>
                </div>
        
                <div class="row">
                    
                    <div class="col-lg-6 col-md-12"> 
                        <div id="happinessBarRegion" style="width: 500px; height: 500px"></div>
                    </div>
                    <div class="col-lg-6 col-md-12">
                        <div id="happinessBarPopulation" style="width: 500px; height: 500px"></div>
                    </div>
                </div> 
                 
        </div> <!-- Container End -->
        <!-- COUNTRY INFO REGION-->
        <div class="wrapper" style="margin-top: 0.5em;">
            <div class="container">
                <!-- Scatter & Line Plots -->
                <div class="row"></div>
                    
                <div class="col-lg-12 col-md-12" style="padding: 2rem; background-color: #ffffff96">
                        <h5> Metadata For Each Country</h5>
                        <p>Below, see how the metadate used to calculate a countries happiness score compares over for the years ranging from 2015-2017.
                            <br>
                            Click <a href="/method">here</a> to see the Happiness Score caluclation methodology.     
                        </p>
                        <hr class="my-4">
                        <h5>Select Country:</h5>
                        <button type="button" class="btn btn-info">
                            <div class="btn-group" role="group">
                                <select class = "btn-info" id="selDataSetCountry" onchange="countryChange(this.value)"></select>
                            </div>
                        </button>
                </div>
                <div class="row">
                    <div class = "col-lg-4 col-md-4 col-sm-12">
                        <div class="bs-component">
                            <div class="card mb-3">
                                <div id ="country15"  style="color:cornsilk" class="bg-secondary text-center card-header"></div>
                                <div id ="year15"  class="text-center card-header"></div>
                                <div id= "countryCode15" class="text-center card-footer text-muted"></div>
                                <div class="card-body">
                                    <h5 class="card-title text-center">Happiness Metadata</h5>
                                </div>
                                
                                <ul class="list-group list-group-flush">
                                    <li id= "region15" style="color:cornsilk" class=" bg-secondary list-group-item"></li>
                                    <li id ="happinessScore15" style="color:cornsilk" class="bg-secondary list-group-item"></li>
                                    <li id= "happinessRank15" style="color:cornsilk" class="bg-secondary list-group-item"></li>
                                    <li id = "happinessPop15" style="color:cornsilk" class="bg-secondary list-group-item"></li>
                                    <li id = "GDP15" style="color:cornsilk" class="bg-secondary list-group-item"></li>
                                    <li id = "family15" style="color:cornsilk" class="bg-secondary list-group-item"></li>
                                    <li id = "life15" style="color:cornsilk" class="bg-secondary list-group-item"></li>
                                    <li id = "freedom15" style="color:cornsilk" class="bg-secondary list-group-item"></li>
                                    <li id= "generosity15" style="color:cornsilk" class="bg-secondary list-group-item"></li>
                                    <li id= "trust15" style="color:cornsilk" class="bg-secondary list-group-item"></li>
                                    <li id= "dystopia15" style="color:cornsilk" class="bg-secondary list-group-item"></li>
                                </ul>

                            </div>
                            
                        </div>

                    </div>
                    <div class = "col-lg-4 col-md-4 col-sm-12">
                        <div class="bs-component">
                            <div class="card mb-3">
                                <div id ="country16"  style="color:cornsilk" class="bg-info text-center card-header"></div>
                                <div id ="year16"  class="text-center card-header"></div>
                                <div id= "countryCode16" class="text-center card-footer text-muted"></div>
                                <div class="card-body">
                                    <h5 class="card-title text-center">Happiness Metadata</h5>
                                </div>
                                
                                <ul class="list-group list-group-flush">
                                    <li id= "region16" style="color:cornsilk" class=" bg-info list-group-item"></li>
                                    <li id ="happinessScore16" style="color:cornsilk" class="bg-info list-group-item"></li>
                                    <li id= "happinessRank16" style="color:cornsilk" class="bg-info list-group-item"></li>
                                    <li id = "happinessPop16" style="color:cornsilk" class="bg-info list-group-item"></li>
                                    <li id = "GDP16" style="color:cornsilk" class="bg-info list-group-item"></li>
                                    <li id = "family16" style="color:cornsilk" class="bg-info list-group-item"></li>
                                    <li id = "life16" style="color:cornsilk" class="bg-info list-group-item"></li>
                                    <li id = "freedom16" style="color:cornsilk" class="bg-info list-group-item"></li>
                                    <li id= "generosity16" style="color:cornsilk" class="bg-info list-group-item"></li>
                                    <li id= "trust16" style="color:cornsilk" class="bg-info list-group-item"></li>
                                    <li id= "dystopia16" style="color:cornsilk" class="bg-info list-group-item"></li>
                                </ul>
    
                            </div>
                                
                        </div>
    
                    </div>
                    <div class = "col-lg-4 col-md-4 col-sm-12">
                        <div class="bs-component">
                            <div class="card mb-3">
                                <div id ="country17"  style="color:cornsilk" class="bg-success text-center card-header"></div>
                                <div id ="year17"  class="text-center card-header"></div>
                                <div id= "countryCode17" class="text-center card-footer text-muted"></div>
                                <div class="card-body">
                                    <h5 class="card-title text-center">Happiness Metadata</h5>
                                </div>
                                
                                <ul class="list-group list-group-flush">
                                    <li id= "region17" style="color:cornsilk" class=" bg-success list-group-item"></li>
                                    <li id ="happinessScore17" style="color:cornsilk" class="bg-success list-group-item"></li>
                                    <li id= "happinessRank17" style="color:cornsilk" class="bg-success list-group-item"></li>
                                    <li id = "happinessPop17" style="color:cornsilk" class="bg-success list-group-item"></li>
                                    <li id = "GDP17" style="color:cornsilk" class="bg-success list-group-item"></li>
                                    <li id = "family17" style="color:cornsilk" class="bg-success list-group-item"></li>
                                    <li id = "life17" style="color:cornsilk" class="bg-success list-group-item"></li>
                                    <li id = "freedom17" style="color:cornsilk" class="bg-success list-group-item"></li>
                                    <li id= "generosity17" style="color:cornsilk" class="bg-success list-group-item"></li>
                                    <li id= "trust17" style="color:cornsilk" class="bg-success list-group-item"></li>
                                    <li id= "dystopia17" style="color:cornsilk" class="bg-success list-group-item"></li>
                            </ul>
        
                        </div>
                                    
                        </div>
        
                    </div>
                </div>

            </div>
        
        </div>


        <div class="wrapper" style="margin-top: 0.5em; margin-bottom: 2.5em">
            <h2 class="text-center" style="margin-top: 0.5em; margin-bottom: 1.5em">How would you rank your happiness?</h2>  
            <div class="wrapper">
                <div class="center" ><img class="center" src="../static/assets/dancing.webp" width="200px" height="200px" ></div>
            </div> <!-- Wrapper End -->  
            <div class="container">
                <div class="progress">
                    <div class="bg-warning progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%"></div>
                 </div>
            </div>
        </div> <!-- Wrapper End -->

        
        
        <footer class="footer bg-primary">
            <div class="container bg-primary"><br>
                <h3>Contributers</h3>
                <p class="footer bg-primary" style="color:rgb(82, 81, 81)">
                    <strong>Kendall Jackson:</strong>   <a href="https://www.linkedin.com/in/kendall-jackson-3953159b/" style="color: #7c7c7c" target="_blank">LinkedIn</a>  |  <a href="https://github.com/gfidanli" style="color: #7c7c7c" target="_blank">GitHub</a><br>
                    <strong>Adam Dunbar:</strong>   <a href="https://www.linkedin.com/in/adam-dunbar-b7897017/" style="color: #7c7c7c" target="_blank">LinkedIn</a>  |  <a href="https://github.com/gfidanli" style="color: #7c7c7c" target="_blank">GitHub</a><br>
                    <strong>Teresa Ruan:</strong>   <a href="https://www.linkedin.com/in/teresa-r-38865912/" style="color: #7c7c7c" target="_blank">LinkedIn</a>  |  <a href="https://github.com/gfidanli" style="color: #7c7c7c" target="_blank">GitHub</a><br>
                </p>
            </div>
        </footer>
                
</div>

    <!-- Javascript to support bootstrap: jQuery first, then Popper.js, then Bootstrap JS ASK YIFU: DO WE NEED THESE LINKS IN BOTH PLACES -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    
    <script src="https://unpkg.com/leaflet@1.3.3/dist/leaflet.js"
    integrity="sha512-tAGcCfR4Sc5ZP5ZoVz0quoZDYX5aCtEm/eu1KhSLj2c9eFrylXZknQYmxUssFaVJKvvc0dJQixhGjG2yXWiV9Q=="
    crossorigin=""></script>
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3-tip/0.9.1/d3-tip.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script>
    <script type="text/javascript" src="../static/js/barGraphRegion.js"></script>
    <script type="text/javascript" src="../static/js/barGraphYear.js"></script>
    <script type="text/javascript" src="../static/js/happinessScatter.js"></script>
    <script type="text/javascript" src="../static/js/choropleth.js"></script>
    <script type="text/javascript" src="../static/js/config.js"></script>
    <script type="text/javascript" src="../static/js/map.js"></script>
    <script type="text/javascript" src="../static/js/countryMetaData.js"></script>
    
    
    
   
    
  </body>
</html>